@mixin display-row {
    display: flex;
    align-items: center;
}

@mixin display-column {
    display: flex;
    flex-direction: column; 
}

@mixin tablet-display {
    @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-display {
    @media only screen and (min-width: 992px) {
        @content;
    }  
}

@mixin box-shadow {
    box-shadow: 0px 5px 10px rgba(227, 227, 227, 1);
}
