@mixin display-row {
    display: flex;
    align-items: center;
}

@mixin display-column {
    display: flex;
    flex-direction: column; 
}

@mixin tablet-display {
    @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-display {
    @media only screen and (min-width: 992px) {
        @content;
    }  
}

@mixin box-shadow {
    box-shadow: 0px 5px 10px rgba(227, 227, 227, 1);
}


@mixin flexbox($flex-direction: row, $flex-justify: normal, $flex-align: normal, $position: static) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $flex-justify;
    align-items: $flex-align;
    position : $position; 
}

@mixin box-model($margin: 0, $padding: 0, $width : auto, $height: auto, $background-color: transparent) {
    margin: $margin;
    padding: $padding;
    width: $width;
    height: $height;
    background-color: $background-color;
}

