.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(0.5turn, #FF79DA, #9356DC);
  border: 0px;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 0px 5px 10px darkgray;
          box-shadow: 0px 5px 10px darkgray;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8de0), to(#9e67e0));
  background: linear-gradient(0.5turn, #ff8de0, #9e67e0);
  -webkit-box-shadow: 0px 5px 10px #9f9f9f;
          box-shadow: 0px 5px 10px #9f9f9f;
}

.spin-loader {
  position: absolute;
  height: 90px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spin-loader__border {
  border-left: 5px solid #9356DC;
  border-right: 5px solid #FF79DA;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 0.8s ease-in-out;
          animation: spin 0.8s ease-in-out;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  opacity: 0;
}

.spin-loader__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 100px;
  font-family: "Shrikhand", cursive;
  font-size: 14px;
  -webkit-animation: splash 0.8s ease-in-out;
          animation: splash 0.8s ease-in-out;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  opacity: 0;
  position: absolute;
  margin-top: -90%;
}

#gradient-vertical {
  --color-stop-1: #9356DC;
  --color-stop-2: #FF79DA  ;
}

.heart--full {
  fill: url(#gradient-vertical);
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.heart--full:hover {
  opacity: 1;
}

#index-container {
  -webkit-animation: welcome 2.8s ease-in-out;
          animation: welcome 2.8s ease-in-out;
}

#pagecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  #pagecontainer {
    max-width: 768px;
    margin: auto;
    width: 98%;
  }
}

@media only screen and (min-width: 992px) {
  #pagecontainer {
    max-width: 1340px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 64px;
  position: relative;
}

header h1 {
  font-family: "Shrikhand", cursive;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body a {
  text-decoration: none;
  color: black;
}

#location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  height: 64px;
}

@media only screen and (min-width: 768px) {
  #location {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}

#location__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 164px;
  font-weight: 500;
}

#location__city i {
  margin-right: 15px;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 0px 20px 0px 40px;
  height: 288px;
}

@media only screen and (min-width: 768px) {
  .cta {
    height: 200px;
  }
}

.cta__title {
  padding: 15px 20px 0 20px;
  font-size: 26px;
  text-align: center;
}

.cta__text {
  margin-top: 0;
  font-size: 18px;
  font-weight: 300;
}

.cta__btn {
  width: 220px;
  height: 51px;
  border-radius: 25px;
  font-size: 15px;
}

.operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  height: 439px;
}

@media only screen and (min-width: 992px) {
  .operation {
    height: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

.operation__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

@media only screen and (min-width: 992px) {
  .operation__title {
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.operation__list-ul {
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .operation__list-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 73px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.operation__list-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px 20px;
  background-color: #f6f6f6;
  height: 73px;
  border-radius: 25px;
  font-size: 16px;
  -webkit-box-shadow: 0px 5px 10px #e3e3e3;
          box-shadow: 0px 5px 10px #e3e3e3;
}

@media only screen and (min-width: 992px) {
  .operation__list-li {
    padding-right: 20px;
  }
}

.operation__list-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -15px;
  margin-right: 15px;
  background-color: #9356DC;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  color: white;
}

.operation i {
  margin-right: 15px;
  font-size: 18px;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  padding: 40px 20px 40px 20px;
}

@media only screen and (min-width: 768px) {
  .restaurants {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
}

.restaurants__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .restaurants__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 15px;
  margin: 10px 0 10px 0;
  background-color: white;
  height: 252px;
  -webkit-box-shadow: 0px 5px 10px #e3e3e3;
          box-shadow: 0px 5px 10px #e3e3e3;
}

@media only screen and (min-width: 768px) {
  .card-restaurant {
    width: 48%;
  }
}

@media only screen and (min-width: 992px) {
  .card-restaurant {
    width: 24%;
  }
}

.card-restaurant__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-restaurant__img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 175px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-restaurant__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 78px;
  padding: 10px;
}

.card-restaurant__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: #99E2D0;
  top: 20px;
  right: 20px;
}

.card-restaurant__new p {
  color: #1b6150;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
  margin: 0;
}

.restaurant-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.restaurant-info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.restaurant-info__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-top: 5px;
}

.restaurant-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.restaurant-like__heart--full {
  fill: url(#gradient-vertical);
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.restaurant-like #gradient-vertical {
  --color-stop-1: #9356DC;
  --color-stop-2: #FF79DA  ;
}

.restaurant-like .restaurant-like__heart--full:hover {
  opacity: 1;
}

#index-container {
  -webkit-animation: welcome 2.8s ease-in-out;
          animation: welcome 2.8s ease-in-out;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}

@media only screen and (min-width: 992px) {
  footer {
    padding: 10px;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    margin: auto;
    width: 95%;
  }
}

@media only screen and (min-width: 992px) {
  .footer-container {
    max-width: 1340px;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-container__title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}

@media only screen and (min-width: 992px) {
  .footer-container__title {
    margin-right: 50px;
    margin-left: 20px;
  }
}

.footer-container__ul {
  padding-left: 0;
}

.footer-container__ul-li {
  font-size: 16px;
  margin-bottom: 10px;
  list-style: none;
}

@media only screen and (min-width: 992px) {
  .footer-container__ul-li {
    display: inline;
    padding-right: 20px;
  }
}

.footer-container a {
  color: white;
}

.footer-container i {
  font-size: 12px;
  margin-right: 10px;
}

header a {
  font-size: 20px;
  position: absolute;
  left: 15px;
}

.restaurant-page__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 260px;
}

.restaurant-page__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -35px;
  padding: 10px 20px 0 20px;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

@media only screen and (min-width: 992px) {
  .menu {
    margin-bottom: 20px;
    border-radius: 40px;
    padding-bottom: 20px;
  }
}

.restaurant-page__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 992px) {
  .restaurant-page__info {
    width: 30%;
    margin: auto;
  }
}

.restaurant-page__info-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Shrikhand", cursive;
}

.restaurant-page__info-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

#restaurant-allcat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 992px) {
  #restaurant-allcat {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 300px;
  }
}

.menu-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .menu-cat {
    width: 32.9%;
  }
}

.menu-cat__name {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 0;
}

.menu-cat__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

.menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  margin-top: 15px;
  border-radius: 15px;
  height: 69px;
}

.menu-card:hover .menu-item__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: checkbox-slide 0.5s ease;
          animation: checkbox-slide 0.5s ease;
}

.menu-card:hover .menu-item__check i {
  -webkit-animation: checkbox-rotate 0.4s ease-in;
          animation: checkbox-rotate 0.4s ease-in;
}

.menu-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 10px 0px 10px 20px;
  -webkit-box-shadow: 0px 5px 10px #f6f6f6;
          box-shadow: 0px 5px 10px #f6f6f6;
}

.menu-item1__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 500;
}

.menu-item1__info-desc {
  display: inline-block;
  font-size: 15px;
  font-weight: lighter;
}

.menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  border-radius: 15px;
  height: 69px;
  background-color: white;
  overflow: hidden;
}

.menu-card:hover {
  cursor: pointer;
}

.menu-card:hover .menu-checkbox {
  -webkit-animation: checkbox-slide 0.3s ease-out forwards;
          animation: checkbox-slide 0.3s ease-out forwards;
}

.menu-card:hover .menu-checkbox i {
  -webkit-animation: checkbox-rotate 0.2s ease-in 0.15s;
          animation: checkbox-rotate 0.2s ease-in 0.15s;
}

.menu-card__col1 {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 10px 12px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-item__title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-item__desc {
  font-size: 15px;
  font-weight: lighter;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-card__col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  padding: 0 25px 13px 0;
}

.menu-checkbox {
  background-color: #99e2d0;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
  width: 70px;
  height: 100%;
  margin-right: -70px;
}

.menu-checkbox i {
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}

.cta-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

.cta-order_btn {
  width: 185px;
  height: 50px;
  border-radius: 50px;
  font-size: 16px;
}

.card-1 {
  -webkit-animation: card-display 0.5s ease-in-out;
          animation: card-display 0.5s ease-in-out;
}

.card-2 {
  -webkit-animation: card-display 1s ease-in-out;
          animation: card-display 1s ease-in-out;
}

.card-3 {
  -webkit-animation: card-display 1.5s ease-in-out;
          animation: card-display 1.5s ease-in-out;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes checkbox-slide {
  0% {
    margin-right: -70px;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes checkbox-slide {
  0% {
    margin-right: -70px;
  }
  100% {
    margin-right: 0;
  }
}

@-webkit-keyframes checkbox-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes checkbox-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes card-display {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}

@keyframes card-display {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.2;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.2;
  }
}

@-webkit-keyframes splash {
  0% {
    opacity: 0.1;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes splash {
  0% {
    opacity: 0.1;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes welcome {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes welcome {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */