//Heart icons
.heart-empty{
  font-size: 1.5em;
  transition: 0.3s 0.3s;
}
.heart-full{
  font-size: 0.1em;
  opacity: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from($color-secondary), to($color-primary));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.restaurant-info__like:hover .heart-full{
  animation: heart 0.5s ease-in-out forwards ;
}
.restaurant-info__like:hover .heart-empty{
  opacity: 0;
}

.restaurant-like:hover .heart-full{
  animation: heart 0.5s ease-in-out forwards ;
}
.restaurant-like:hover .heart-empty{
  opacity: 0;
}
