.loader{
    
    border-left: 5px solid $color-primary;
    border-right: 5px solid $color-secondary;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 0.8s ease-in-out;
    animation-iteration-count: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  .loader-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100px;
    font-family: $font-primary;
    font-size: 14px;
    animation: splash 0.8s ease-in-out;
    animation-iteration-count: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
  }