@keyframes checkbox-slide {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(-70px);
    }
  }

  @keyframes checkbox-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
  }

  @keyframes card-display {
    0% {
      opacity: 0;
      margin-top: 25px;
    
    }
    100% {
      opacity: 1;
      margin-top: 15px;
  
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
      opacity: 0.1;
    }
    50% { 
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0.2;
    }
  }

  @keyframes splash {
    0% {
      opacity: 0.1;
    }
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }


  @keyframes welcome {
    0% {
      opacity: 0;
    }
    80%{
      opacity :0
    }
    100% {
      opacity: 1
    }
  }
