// Index container
#index-container{
    animation: welcome 2.8s ease-in-out;
}

// Section - Location
#location {
    @include flexbox($flex-justify: center);
    @include box-model($height: 49px, $background-color: #eaeaea);
    // Responsive
    @include tablet-display{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    
    &__city {
        @include flexbox($flex-align: center);
        @include box-model($width: 164px);
        font-weight: 500;  
        i {
            @include box-model($margin: 0 15px 0 0);
        }
    } 
}

// Section - CTA
.cta {
    @include flexbox($flex-direction: column, $flex-align: center);
    @include box-model($padding: 0px 20px 0px 40px, $height: 288px, $background-color: #f6f6f6);
    // Responsive - Tablet & Desktop
    @include tablet-display {
        height: 200px;
    }

    &__title {
        @include box-model($padding: 38px 20px 10px 20px);
        font-size: 1.5em;
        text-align: center;
    }
    
    &__text {
        @include box-model ($margin: 0 0 35px 0);
        font-size: 1.1em;
        font-weight:300;
    }
    
    &__btn{
        @include box-model ($width: 220px, $height: 51px);
        border-radius: 25px;
        font-size: 15px;  
    }  
}

//Section - Operation
.operation{
    @include flexbox ($flex-direction: column);
    @include box-model ($padding : 0 0 0 20px, $height: 439px);
    //Responsive - Desktop
    @include desktop-display{
        height: 150px;
        align-items: center;
        margin-bottom: 20px;
    } 

    &__title{
        @include flexbox;
        @include box-model ($margin : 50px 0 10px 0);
        //Responsive - Desktop
        @include desktop-display{
            margin : 15px 40px 0 0
        }    
    }

    &__list-ul{
        @include flexbox ($flex-direction: column);
        @include box-model;
        // Responsive - Desktop
        @include desktop-display{
            display: flex;
            flex-direction: row;
            height:73px;
            justify-content: space-evenly;
        }
    }

    &__list-li{
        @include flexbox($flex-align: center);
        @include box-model($margin: 0 20px 20px 20px,$background-color: #f6f6f6, $height: 73px);  
        @include box-shadow;
        border-radius: 25px;
        font-size: 16px;
        // Responsive - Desktop
        @include desktop-display{
            padding-right: 20px;
        }    
    }
    
    &__list-number{
        @include flexbox($flex-justify: center, $flex-align: center);
        @include box-model($margin: 0 15px 0 -15px, $width: 25px, $height: 25px, $background-color: $color-primary);
        border-radius: 50px;
        color: white;
        font-size: 0.9em;
    }

    i{
        @include box-model($margin: 0 15px 0 0);
        font-size: 1.1em;
    }   
}

// Section - Restaurants
.restaurants{
    @include flexbox($flex-direction: column,$flex-justify: center);
    @include box-model ($padding: 40px 20px 40px 20px, $background-color: #f6f6f6);
    // Responsive - Tablet & Desktop
    @include tablet-display {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-bottom: 20px;
        padding-top : 15px;   
      }

    &__cards{
        @include flexbox($flex-direction: column);
        // Responsive - Tablet & Desktop  
        @include tablet-display {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;     
          }   
    }      
}

.card-restaurant {
    @include flexbox($flex-direction: column, $position: relative);
    @include box-model ($margin: 10px 0 10px 0, $background-color: white, $height: 252px);
    @include box-shadow;
    border-radius: 15px;
    // Responsive - Tablet
    @include tablet-display {
        width: 48%;   
      }
    // Responsive - Desktop
    @include desktop-display {
        width: 24%;
    }
    
    &__img{
        @include flexbox($flex-direction: column);
        img{
            @include flexbox;
            @include box-model($height: 175px, $width: 100%);
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }  
    }

    &__info{
        @include flexbox ($flex-justify: space-between, $flex-align: center);
        @include box-model ($height: 78px, $padding: 10px);  
    }

    &__new {
        @include flexbox ($flex-justify: center, $flex-align: center, $position: absolute);
        top: 20px;
        right: 20px;
        @include box-model ($background-color: $color-tertiary);
        border-radius: 2px;
        p {
            @include box-model ($padding: 5px 10px);
            color: #1b6150;
            font-size: 0.9em;
            font-weight: 700; 
          }
      }
}
    
.restaurant-information{
    @include flexbox($flex-direction: column,$flex-justify: space-around);
    @include box-model($padding: 5px 0 20px 5px);
    &__title{
        @include flexbox;
        @include box-model;
    }
    &__place{
        @include flexbox;
        @include box-model($padding: 5px 0 10px 0);
    }    
}

.restaurant-like {
    @include flexbox;
    @include box-model($padding: 0 10px 25px 0);
    &__heart {
        &--full {
            fill: url(#gradient-vertical) ;
            position: absolute;
            opacity: 0;
            transition: 0.5s;
           }   
    }
    &__heart--full:hover{
        opacity: 1;
    }
}