#location {
    @include display-row;
    justify-content: center;
    background-color: #eaeaea;
    height: 64px;
    &__city {
        display: flex;
        align-items: center;
        width: 164px;
        font-weight: 500;  
        i {
            margin-right: 15px;
        }
    }
}
     
.cta {
   @include display-column;
   align-items: center;
    background-color: #f6f6f6;
    padding: 0px 20px 0px 40px;
    height: 288px; 
    &__title {
        padding: 15px 20px 0 20px;
        font-size: 26px;
        text-align: center;
    }
    &__text {
        margin-top: 0;
        font-size: 18px;
        font-weight:300;
    }
    &__button{
        width: 220px;
        height: 51px;
        background: linear-gradient(0.5turn, $color-secondary,$color-primary);
        border-radius: 25px;
        border: 0px;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
}

.operation{
    @include display-column;
    padding-left: 20px;
    height: 439px; 
    &__title{
        display: flex;
        margin-top: 50px;    
    }
    &__list-ul{
        padding-left: 0px;
        
        display: flex;
        flex-direction: column;
    }
    &__list-li{
        display: flex;
        align-items: center; 
        margin: 0 20px 20px 20px;  
        background-color: #f6f6f6;
        height:73px;
        border-radius: 25px;
        font-size: 16px;    
    }
    &__list-number{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -15px;
        margin-right: 15px;
        background-color: $color-primary;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        color: white;
    }
    i{
        margin-right: 15px;
        font-size: 18px;
    }   
}