#location {
    @include display-row;
    background-color: #eaeaea;
    height: 64px;
    &__city {
        @include display-row;
        width: 164px;
        font-weight: 500;  
        i {
            margin-right: 15px;
        }
    }
}
     
