// Restaurant picture
.restaurant-img {
    display: flex;
    height: 260px ;
    img{
        object-fit: cover;
        width: 100%;
    }
}

// Section - Menu
.menu{
    @include flexbox($flex-direction: column);
    @include box-model($margin: -35px 0 0 0, $padding: 10px 20px 0 20px, $background-color: #f6f6f6);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    // Responsive - Desktop
    @include desktop-display{
        margin-bottom: 20px;
        border-radius: 40px;
        padding-bottom: 20px; 
    } 
}

// Restaurant info
.restaurant-info{
    @include flexbox($flex-justify: space-between, $flex-align:center);
    // Responsive - Dekstop
    @include desktop-display {
        width: 30%;
        margin: auto;
    }

    &__name{
        @include flexbox;
        font-family: $font-primary;
    }

    &__like{
        @include flexbox;
        @include box-model($margin: 0 20px 0 0);
    }
}

// Restaurant - All categories
#restaurant-allcat{
    @include flexbox($flex-direction: column);
    // Responsive - Desktop
    @include desktop-display{
        flex-direction: row;
        justify-content: space-between;
        height: 320px; 
    }
   
}

#restaurant-allcat--alt {
    @include flexbox($flex-direction: column);
    // Responsive - Desktop
    @include desktop-display{
        flex-direction: row;
        justify-content: space-between;
        height: 400px; 
    }
}

// Menu - Category
.menu-cat{
    @include flexbox($flex-direction: column);
    @include box-model($margin: 0 0 15px 0);
    // Responsive - Desktop
    @include desktop-display{
        width: 32.9%; 
    }

    &__name{
        @include box-model;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 16px;
    }

    &__line{
        @include flexbox;
        @include box-model($margin: 5px 0 0 0,$height: 3px,$width: 40px,$background-color: $color-tertiary);
    }

    &__cards{
        @include flexbox($flex-direction: column);
        @include box-model($height: 270px );
        &--alt{
            @include flexbox($flex-direction: column);
            @include box-model($height: 350px );
        }
    }
}

// Menu card
.menu-card {
    @include flexbox($flex-justify: space-between);
    @include box-model($margin: 15px 0 0 0,$width: 100%,$height: 69px,$background-color: white);
    @include box-shadow;
    border-radius: 15px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
        & .menu-checkbox {
            animation: checkbox-slide 0.3s ease-out forwards;
            i {
            animation: checkbox-rotate 0.2s ease-in 0.15s;
            }
        }
    }
    &__col1 {
        @include flexbox($flex-justify: space-between);
        @include box-model($padding: 12px 10px 12px 15px,$background-color: white);
        min-width: 0;
    }
    &__col2 {
        @include flexbox($flex-align:flex-end);
    }
}

.menu-item {
    @include flexbox($flex-direction: column,$flex-justify: space-around);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &__title { 
        @include box-model;
        font-size: 1em;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__desc {
        @include box-model;
        font-size: 0.9em;
        font-weight: lighter;
        text-overflow: ellipsis;
        overflow: hidden;
    }
  }

.menu-price {
    @include flexbox;
    @include box-model($padding: 0 25px 13px 0);
    font-weight: bold;
}
.menu-checkbox {
    @include flexbox($flex-justify: center, $flex-align: center);
    @include box-model($width: 70px, $height: 100%, $margin: 0 -70px 0 0, $background-color: $color-tertiary);
    color: white;
    font-size: 1.5rem;
    transition: margin 0.3s ease-in-out;
    i {
        transition: transform 0.4s ease-in;
      } 
  }

.card-1{
    animation: card-display 0.8s ease-in-out;
}
.card-2{
    animation: card-display 1s ease-in-out;
}
.card-3{
    animation: card-display 1.3s ease-in-out;
}
.card-4{
    animation: card-display 1.5s ease-in-out;
}



// CTA
.cta-order{
    @include flexbox($flex-justify: center);
    @include box-model($margin: 50px 0);
    &_btn{
        @include box-model($width: 185px, $height: 50px);
        border-radius: 50px;
        font-size: 1em;
    } 
}
  